// SASS 문법
// @import 파일경로 쉽게 설정
//@import './reset.scss';


$메인칼라 : #ff0000;

.red {
    color:$메인칼라;
}

// @mixin @include
@mixin 함수(){
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 5px;
    max-width: 500px;
    width: 100%;
    margin: auto;
}

.my-alert {
    @include 함수();
}

// extend 문법
.my-alert2 {
    @extend .my-alert;
    background: #ffe591;
}

.my-alert p {
    margin-bottom: 0px;
}

// div.container h4 {
//     color : blue;
// }

// div.container p {
//     color : green;
// }

// // 셀렉터 대신 쓰는 nesting
// div.container {
//     h4 {
//         color : blue;
//     }

//     p {
//         color : green;
//     }
// }

.wow-enter {
    opacity : 0
  }
  
  .wow-enter-active {
    opacity : 1;
    transition : all 500ms;
  }